body, html{
    margin:0;
    padding: 0;
}

#chat{
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

#messages{
    list-style-type: none;
}

#chat input {
    width: 100%;
}